<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add employee
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <%= form_tag({ controller: 'employees', action: 'parse'}, remote: true, multipart: true, method: "post") do %>
        <div class="form-group">
          <%= file_field_tag :csv_file %>
        </div>

      </div>
      <div class="modal-footer">
        <button id="csv-close-button" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag "submit" %>
         <% end %>
      </div>
    </div>
  </div>
</div>
