#map {
  width: 100%;
  height: 600px;
}

.column-padding {
  margin-left: 20px;
  p {
  font-size: 15px;
  margin-left: 10px;
  color: #364248;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #364248;
    padding-bottom: 10px;
  }


}

