// Specific CSS for your home-page
.banner {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  margin-bottom: 30px;
}

.banner-content h2 {
  font-family: $logo-font;
  font-size: 50px;
  color: #FBF0AC;
}

body {
  margin: 0px;
}

.btn-box {
  padding-top: 20px;
}

.wrapper-row {
  padding-top: 50px;
  h3 {
    margin-top: 30px;
  }
}

.row {
  margin: 0px;
}

#how-it-works {
  height: 100vh;
  padding-top: 70px;
  background-color: #FEFCEE;
  display: flex;
  align-items: center;
  h3 {
  font-spacing: 2px;
  font-family: Sofia;
  font-size: 40px;
  }
}

.back-to-top {
    display: block;
    padding-top: 60px;
}


.icons {
  height: 10vh;
}

.card-text h4 {
  font-weight: 700;
  margin-top: 20px;
}

.wrapper-cards {
  margin-top: 100px;
  padding: 0px 100px;
}
