.order-summary {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    color: #364248;
    font-size: 24px;
    font-weight: bold;

  }
  p {
    margin-left: 30px;
    color: #364248;
    font-size: 15px;
  }
  i {
    margin: 0 10px;
    color: #364248;
  }
}

.wrapper-order {
  border-top: 1px solid #364248;
  border-bottom: 1px solid #364248;
  width: 100%;
}

.wrapper-summary {
  margin-top: 20px;
  border-top: 1px solid #364248;

}

.checkout-btn {
  margin-bottom: 50px;
  margin-top: 20px;
}

.wrapper-savings {
  color: #76AD86;
  font-weight: bold;
}

.title {
  font-family: Sofia;
  font-size: 40px;
  margin-top: 20px;
}

.order-final {
  display: flex;
  justify-content: space-between;
}

