
<div class="footer bottom-footer">

    <div class="footer-links text-center">
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></i></a>
    </div>

</div>


