<div class="container content-padding">
  <h3 class="text-center title-order order-line">Order Summary</h3>

  <div class="row">
    <div class="col-md-3 text-center">
      <div class="order-image">
        <%= image_tag "route.svg", class:"icons text-center" %>
      </div>

      <div class="route-info">
        <h4><strong>Route Fast A</strong></h4>
        <p>Morning Schedule</p>
      </div>
    </div>

    <div class="col-md-9">
      <div class="order-row">
        <div>
          <p><strong>User Details</strong></p>
          <p><%= current_user.company_name %></p>
          <p><%= current_user.address %></p>
        </div>
        <div>
          <p><strong>Order No.</strong></p>
          <p class="text-right">DER4T1</p>
        </div>
      </div>

      <div class="order-row">
        <div>
          <p><strong>Taxes</strong></p>
          <p>IRPF Tax</p>
          <p>IFF Tax</p>
        </div>
        <div>
          <p><strong>Currency BRL</strong></p>
          <p class="text-right">$ XXXX</p>
          <p class="text-right">$ XXXX</p>
        </div>
      </div>

      <div class="order-row">
        <div>
          <p><strong>TOTAL</strong></p>
          <p>Final Checkout Price</p>
        </div>
        <div>
          <p class="text-right">$ XXXX</p>
        </div>
      </div>

      <div class="order-row">
        <div>
          <button type="button" class="btn-carat-checkout text-right">CHECKOUT</a>
        </div>
      </div>
    </div>
  </div>
</div>


