<div class="container content-padding">
  <h3 class="text-center title-order order-line">Order Summary</h3>

  <div class="row">
    <div class="col-md-3 text-center">
      <div class="order-image">
        <%= image_tag "route.svg", class:"icons text-center" %>
      </div>

      <div class="route-info">
        <h4><strong>Route Fast A</strong></h4>
        <p>Morning Schedule</p>
      </div>
    </div>

    <div class="col-md-9">
      <div class="order-row">
        <div>
          <p><strong>Your Details</strong></p>
          <p><%= current_user.company_name %></p>
          <p><%= current_user.address %></p>
        </div>
        <div>
          <p><strong>Users</strong></p>
          <p class="text-right">13</p>
        </div>
      </div>

      <div class="order-row">
        <div class="padding-order">
          <p><strong>Total Charges</strong></p>
          <p>Monthly Subscription</p>
        </div>
        <div class="padding-order">
          <p class="text-right">Currency</p>
          <p class="text-right">R$ 3.718,05</p>
        </div>
      </div>


        <div class="btn-corner">
          <%= link_to "CHECKOUT", dashboard_path, class: "btn-carat-go text-center" %>
        </div>


    </div>
  </div>
</div>


