
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h2>Commute better & save money</h2>
    <p>We set up an intellegent transportation system to save you money and make your workers happier.</p>
    <a class="btn-carat-blue">Start Today</a>
  </div>
</div>

<div class="container">
  <div id="how-it-works">
    <div class="row">
      <h3 class="text-center">HOW IT WORKS</h3>

      <div class="wrapper-cards">

        <div class="col-xs-12 col-md-4">
          <div class="card text-center">
            <div class="icon-circle">
              <i class="fas fa-info"></i>
            </div>
            <div class="card-text">
              <h4 class="how-heading">Upload Info</h4>
              <p>You provide us with the location of your company and the employees you want brought to work.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card text-center">
            <div class="icon-circle">
              <i class="fas fa-map-pin"></i>
            </div>
            <div class="card-text">
              <h4 class="how-heading">Get a route</h4>
              <p>Our algorithyms efficiently determine the optimum configuations to get your employees to work.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card text-center">
            <div class="icon-circle">
              <i class="fas fa-hand-holding-usd"></i>
            </div>
            <div class="card-text">
              <h4 class="how-heading">Save & commute better</h4>
              <p>Your company saves on transportation costs and your employees get to work comfortably and on time.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

