<div class="container">

  <div class="row">
    <div class="wrapper-cards">

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card-reward text-center">
          <%= image_tag "piggy-bank.svg", class:"icons text-center" %>

          <div class="card-text">
            <h3><strong>$ 40,000</strong></h3>
            <h4 class="how-heading">Economy</h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card card-reward text-center">
          <%= image_tag "stopwatch.svg", class:"icons text-center" %>

          <div class="card-text">
            <h3><strong>10,000h</strong></h3>
            <h4 class="how-heading">Time Saved</h4>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="card card-reward text-center">
         <%= image_tag "footprint.svg", class:"icons text-center" %>

          <div class="card-text">
            <h3><strong>5 tons</strong></h3>
            <h4 class="how-heading">Carbon Footprint</h4>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="order-summary">

      <div class="col-xs-12 col-sm-6 box-right">
        <h3>Company Name</h3>
        <p><i class="fas fa-map-marker-alt"></i>Street Something, 34 - Rio de Janeiro 22220-909</p>
        <p><i class="fas fa-envelope"></i>company@email.com</p>
      </div>

      <div class="col-xs-12 col-sm-6 box-left">
        <button type="button" class="btn-carat-regular">PROCEED TO ORDER</a>
      </div>

    </div>
  </div>
</div>

