<div class="container content-padding">
  <div class="card-reward text-center">
    <div class="icon-space">
      <div class="icon-circle">
        <%= image_tag "piggy-bank.svg", class:"icons text-center" %>
      </div>
    </div>

    <h3 class="text-center title">Your Savings with Carat</h3>
    <div class="card-text savings">
      <div class="wrapper-summary">

        <div class="row">
          <div class="col-xs-6">
            <h4 class="text-left">You actual cost</h4>
          </div>

          <div class="col-xs-6">
            <h3 class="text-right"> $40,000</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <h4 class="text-left">Your cost with Carat</h4>
          </div>

          <div class="col-xs-6">
            <h3 class="text-right"> $20,000</h3>
          </div>
        </div>

        <div class="row">
          <div class="wrapper-savings">
            <div class="col-xs-6">
              <h4 class="text-left"><strong>You Saved</strong></h4>
            </div>

            <div class="col-xs-6">
              <h3 class="text-right"> $20,000</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="wrapper-order text-center">

    <div class="order-final">

        <div>
          <h4><strong>Company Details</strong></h4>
          <p><%= current_user.company_name %></p>
        </div>

        <div>
          <h4><strong>Order Number</strong></h4>
          <p>DRF0R4</p>
        </div>

        <div>
          <h4><strong>Payment Type</strong></h4>
          <p>Credit Card</p>
        </div>

        <div>
          <h4><strong>TOTAL</strong></h4>
          <p><strong>$300 BRL</strong></p>
        </div>

    </div>
  </div>

  <div>
    <%= link_to "PROCEED TO ORDER", orders_new_path, class: "btn-carat-go text-center" %>
  </div>
</div>
