.btn-carat-blue {
  background-color: #FBF0AC;
  color: #364248;
  padding: 10px 15px;
  font-weight: lighter;
  text-decoration: none;
}

.btn-carat-blue:hover {
  background-color: #364248;
  color: #F4D213;
  text-decoration: none;
  font-weight: lighter;
}

.btn-carat-yellow {
  background-color: #364248;
  color: #F4D213;
  padding: 10px 15px;
  font-weight: lighter;
}

.btn-carat-yellow:hover {
  background-color: #FBF0AC;
  color: #364248;
  font-weight: lighter;
  text-decoration: none;
}
