.card {
  height: 300px;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.icon-circle {
  border-radius: 50%;
  background-color: #FBF0AC;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 130px;
  width: 130px;
}

.icon-circle i {
  color: #364248;
  font-size: 45px;
}

// .icon {
//  height: 30px;
//  fill: #364248;
//  position: absolute;
//  left: 50%;
// }















