.card {
  background-position: center;
  justify-content: center;
  align-items: center;
  p {
    padding-top: 20px;
  }
  h4 {
    padding-top: 20px;
  }
}

.icon-circle {
  display: inline-flex;
  border-radius: 50%;
  background-color: #FBF0AC;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}

.icon-space {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    padding-top: 20px;
  }
}

















