.employee-card {
  margin: 20px 10px;
  a{
    font-size: 12px;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
}

.employee-name {
  font-weight: bold;

}

.employee-address {
  color: #364248;
  font-size: 12px;
}

