.footer {
  background: #364248;
  display: flex;
  color: #FBF0AC;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links a {
  color: #FBF0AC;
  text-decoration: none;
  font-size: 40px;
  padding: 15px;
}

.footer-links a:hover {
  opacity: 1;
}

.sticky-footer {
  min-height: 78vh;
}

// .footer {
//   flex-shrink: 0;
// }
