.footer {
  background: #364248;
  display: flex;
  color: #FBF0AC;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: 0px;
  transform: translateY(3.7em);
}

@media only screen and (max-width: 400px) {
  .footer {
    transform: translateY(0);
  }
}

.footer-links a {
  color: #FBF0AC;
  text-decoration: none;
  font-size: 40px;
  padding: 15px;
}

.footer-links a:hover {
  opacity: 1;
}

.content {
  min-height: calc(92vh - 100px);
}
