.footer {
  background: #364248;
  display: flex;
  color: #FBF0AC;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width:98.9vw;
  bottom: 0px;
}

.footer-links a {
  color: #FBF0AC;
  text-decoration: none;
  font-size: 40px;
  padding: 15px;
}

.footer-links a:hover {
  opacity: 1;
}

.down {
  min-height: 86vh;
}
