.form-login {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #364248;
  border-style: dashed;
  box-shadow: 1 1 2 rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight:lighter;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .btn {
    width: 100%;
  }
  .font{
    color: #364248;
  }

}
